<form [formGroup]="cardForm">
  <div class="formControl">
    <label for="name">Name:</label>
    <input formControlName="name" type="text" />
    <ng-container *ngIf="cardForm.controls['name'].errors">
      <div *ngIf="cardForm.controls['name'].errors['required']">
        Value is required.
      </div>
      <div *ngIf="cardForm.controls['name'].errors['minlength']">
        Minimum length needs to be at least {{cardForm.controls['name'].errors['minlength'].requiredLength}} characters long.
      </div>
    </ng-container>
  </div>
</form>

<!--@Todo - remove before production-->
<div>Form contents: {{cardForm.value | json }}</div>
<div>Form is valid: {{cardForm.valid }}</div>
<div>Errors around name {{cardForm.controls['name'].errors | json }}</div>