<div class="row">
  <div class="container" style="margin-top: 20px; border-bottom: 1px solid lightgray">
    <h1>Angular Demo - Credit Card Graphic Generator</h1>
  </div>
  <div class="container" style="margin-top: 20px">

  <app-card-form></app-card-form>
  </div>
</div>
<hr>
<div class="row">
  <div class="container">
    <p>This web app is a demonstration of what can be achieved with Angular Reactive forms, and extending Angular Form classes.</p>
    <p>
      This demo app was built by Stu Last of Spyced Concepts.
      Source code is available at <a href="https://github.com/StuLast/angular-demo-credit-card-generator" target="_blank">https://github.com/StuLast/angular-demo-credit-card-generator</a>
    </p>
  </div>
</div>